/* Mobile Device Breakpoint */
@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav .link_item{
        flex-direction: column;
    }
    nav .link_item li{
        margin-top: 20px;
    }
  nav ul .brand_item{
        margin-top: 20px;
    }
    .banner_section{
        padding: 20px ;
    }
    .banner_container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner_left_content {
        width: 100%;
        text-align: center;
       
    }
    .banner_title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .banner_sub_title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner_right_content {
        width: 100%;
        margin-bottom: 50px;
    }
    .banner_right_content img{
        width: 100%;
    }

    .weareGamer_section{
        margin-top: 60px;
        padding: 20px;
    }
    .gammer_container{
        flex-direction: column;
    }
    .gamer_left_content{
        width: 100%;
    }
    .gamer_right_content{
        width: 100%;
    }
}

/* Medium Device Breakpoint */

@media screen and (min-width: 600px) and (max-width : 992px) {
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav .link_item{
        flex-direction: column;
    }
    nav .link_item li{
        margin-top: 20px;
    }
  nav ul .brand_item{
        margin-top: 20px;
    }
    .banner_section{
        padding: 20px ;
    }
    .banner_container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner_left_content {
        width: 100%;
        text-align: center;
       
    }
    .banner_title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .banner_sub_title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner_right_content {
        width: 100%;
        margin-bottom: 50px;
    }
    .banner_right_content img{
        width: 100%;
    }
    .weareGamer_section{
        margin-top: 60px;
        padding: 20px;
    }
    .gammer_container{
        flex-direction: column;
    }
    .gamer_left_content{
        width: 100%;
    }
    .gamer_right_content{
        width: 100%;
    }
}