/* Mobile Device Breakpoint */
@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav .link_item{
        flex-direction: column;
    }
    nav .link_item li{
        margin-top: 20px;
    }
  nav ul .brand_item{
        margin-top: 20px;
    }
    .banner_section{
        padding: 20px ;
    }
    .banner_container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner_left_content {
        width: 100%;
        text-align: center;
       
    }
    .banner_title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .banner_sub_title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner_right_content {
        width: 100%;
        margin-bottom: 50px;
    }
    .banner_right_content img{
        width: 100%;
    }

    .weareGamer_section{
        margin-top: 60px;
        padding: 20px;
    }
    .gammer_container{
        flex-direction: column;
    }
    .gamer_left_content{
        width: 100%;
    }
    .gamer_right_content{
        width: 100%;
    }
    .online_game_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .online_game_section {
        padding: 20px;
        margin-top: 50px;
    }
    .game{
        margin-bottom: 20px;
    }
    .game_title{
        font-size: 25px;
    }
    .game img {
        width: 100%;
    }
    .playdownload_section {
        padding: 20px;
        margin-top: 60px;
    }
    .playdownload_container{
        flex-direction: column;
    }
    .download_left_content{
        width: 100%;
    }
    .download_right_content{
        width: 100%;
    }
    .download_right_content img {
        width: 100%;
    }
    .play_desc{
        width: 100%;
    }
    .play_title,.download_title,
    .install_title{
        font-size: 40px;
    }
    .bottom_img{
        display: none;
    }

    .career_section{
        padding: 20px;
    }
    .career_div{
        padding: 20px;
    }
    .career_container{
        flex-direction: column;
    }
    .career_left_content{
        width: 100%;
    }
    .career_right_content{
        width: 100%;
    }
    .game_category_section{
        padding: 20px;
    }
    .game_category_container{
        flex-direction: column;
    }
footer{
    padding: 20px;
}
    .footer_contents{
        text-align: center;
    }

    .footer_website_links ul{
        flex-direction: column;
    }
}

/* Medium Device Breakpoint */

@media screen and (min-width: 600px) and (max-width : 992px) {
    nav{
        flex-direction: column;
        margin-bottom: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav .link_item{
        flex-direction: column;
    }
    nav .link_item li{
        margin-top: 20px;
    }
  nav ul .brand_item{
        margin-top: 20px;
    }
    .banner_section{
        padding: 20px ;
    }
    .banner_container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner_left_content {
        width: 100%;
        text-align: center;
       
    }
    .banner_title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .banner_sub_title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner_right_content {
        width: 100%;
        margin-bottom: 50px;
    }
    .banner_right_content img{
        width: 100%;
    }
    .weareGamer_section{
        margin-top: 60px;
        padding: 20px;
    }
    .gammer_container{
        flex-direction: column;
    }
    .gamer_left_content{
        width: 100%;
    }
    .gamer_right_content{
        width: 100%;
    }

    .online_game_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .online_game_section {
        padding: 20px;
        margin-top: 50px;
    }
    .game{
        margin-bottom: 20px;
    }
    .game_title{
        font-size: 30px;
    }
    .game img {
        width: 100%;
    }

    .playdownload_section {
        padding: 20px;
        margin-top: 60px;
    }
    .playdownload_container{
        flex-direction: column;
    }
    .download_left_content{
        width: 100%;
    }
    .download_right_content{
        width: 100%;
    }
    .download_right_content img {
        width: 100%;
    }
    .play_desc{
        width: 50%;
    }
    .play_title,.download_title,
    .install_title{
        font-size: 40px;
    }
    .bottom_img{
        display: none;
    }

    .career_section{
        padding: 20px;
    }
    .career_div{
        padding: 20px;
    }
    .career_container{
        flex-direction: column;
    }
    .career_left_content{
        width: 100%;
    }
    .career_right_content{
        width: 100%;
    }

    .game_category_section{
        padding: 20px;
    }
    .game_category_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
         
    }
}